*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smothing: antialised;
    -moz-osx-font-smoothing: grayscale;
    /*outline: 1px solid limegreen;*/
}

:root {
    font-size: 62.5%;
    --cor1: #ED07B7;
    --cor2: #070212;
    --cor3: #080025;
    --cor4: #023CFA;
    --cor5: #07A1ED;
}

body {
    font-size: 1.6rem;
    font-family: poppins, sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom,
    var(--cor2) 5%,
    var(--cor3),
    var(--cor2) 98%)no-repeat;
}

header {
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
}

.manga video {
    height: 75%;
    box-shadow: 4px 4px 8px 0px black;
}

h1 {
    text-align: center;
    margin-top: 5rem;
    color: rgba(255, 255, 255, 0.753)

}


#logo {
    height: 8rem;
    margin-right: 20px;
    border-radius: 1rem;
    padding: 1rem;
    animation: shadow 2s linear infinite;
}

.main-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100.5rem;
}

.menulink {
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding: 3rem;
    margin-right: 5rem;
    gap: 3rem;
}

.menulink  a {
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.searchbar {
    margin-right: 2rem;
}

.searchbar > button {
    background-color: transparent;
    border: none;
    color: white;
    line-height: 1rem;
    font-weight: 600;
    padding: 1.2rem;
    font-size: 1.5rem;
}

.searchbtn, .advancedbtn{
    cursor: pointer;
    
}

.flex {
    display: flex;
    min-width: 100.5rem;
    height: 3rem;
    justify-content: space-between;
}
.subar {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(145deg, #040C30, var(--cor2)35%,  #040C30, var(--cor2) 62%, #040C30 );
    box-shadow: 1px 1px 18px rgb(95, 210, 255);
}

.findus {
    width: 25%;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.findus > a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}

.loginin {
    display: flex;
    width: 23%;
    justify-content: center;
    gap: 2rem;
}

.loginin > button {
    background-color: transparent;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 14px;
    border: 1px solid white;
    padding: 0.8rem;
    text-align: center;
    cursor: pointer;
} 

.menulink > a {
    width: max-content;
    position: relative;
}

.menulink > a::after {
    content: "";
    position:absolute;
    bottom: -10px;
    height: 2px;
    width: 90%;
    left: 6px;
    background-color: skyblue;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scale(0);
}

.menulink > a:hover::after {
    transform: scale(1);
}

.menulink > a:hover {
    color: skyblue;
}

.socialmed:hover {
    color: skyblue;
    text-shadow: 0px 0px 50px blue,
                 0px 0px 75px blue,
                 0px 0px 90px blue,
                 0px 0px 110px blue;
    animation: animate 3s linear infinite;
    transition: 30ms ;
}

@keyframes animate{
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.highlights {
    width: 90%;
    max-width: 950px;
    height: 55rem;
    margin: 4rem auto;
    border-radius: 2rem;
    border: .1rem solid gray;
    padding: 5rem 7rem;
    

}

.highlights > h1 {
    max-width: 600px;
    margin: auto;
}

p {
    color: white;
}

.loginin button:hover {
    color: skyblue;
    background-color: #c0bec510;
    border: 1px solid skyblue;
}

.searchbar button:hover{
    color: skyblue;
}

@keyframes shadow {
    0% {
        filter: drop-shadow(0 0 0px rgba(135, 207, 235, 0.397));
    }
    50% {
        filter: drop-shadow(0 0 15px rgba(135, 207, 235, 0.397))
    }
    100% {
        filter: drop-shadow(0 0 0px rgba(135, 207, 235, 0.397))
    }
  }

  .manga {
    width: 380px;
    height: 170px;
    display: flex;
    background-color: rgba(134, 192, 240, 0.158);
    border-radius: 8px;
    box-shadow: 3px 3px 5px black;
  }

 .mangcap {
    width: 34%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .manga p {
    font-weight: bold;
    text-align: center;
    margin-top: 3%;
 }

.caps {
    display: flex;
    margin: 5px auto;
    text-decoration: none;
    font-weight: bold;
    background-color: #ed07b72d;
    padding: 5px 15px;
    border-radius: 10px;
    color: aliceblue;
    box-shadow: 1px 1px 1px white;
    transition: .2s ;
}

.caps:hover {
    background-color: #ed07b79d;
    transform: scale(1.1);
}